@"
/node_modules
/vendor
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/logs/*
.env
.env.*
.git
.phpunit.result.cache
npm-debug.log
"@ | Out-File -FilePath .dockerignore -Encoding utf8